<div class="container">
  <div class="row m-3">
    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
      <div class="card border-light">
        <div class="card-header bg-dark text-white text-center">Agregar Usuario</div>
        <div class="card-body">
          <form action="/users/create" method="POST">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Empleado</label>
              <select class="form-control" id="exampleFormControlSelect1">
                {{#each data}}
                  <option>
                    {{empleado_id}} - {{nombre}} {{apellido}}
                  </option>
                {{/each}}
              </select>
            </div>
            <div class="form-group">
              <label for="correo_input">Correo</label>
              <input id="correo_input" name="correo" type="email" class="form-control" placeholder=" Enter email" autofocus>
            </div>
            <div class="form-group">
              <label for="clave_input">Clave</label>
              <input name="clave" type="password" maxlength="8" class="form-control" id="clave_input"
                placeholder=" Enter password">
            </div>
            <input id="enviar" name="empleado_id" type="hidden" value="">
            <button onclick="get_id()" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // para enviar el id del empleado seleccionado para crearle un usuario
  function get_id() {
    let select = document.getElementById("exampleFormControlSelect1");
    let enviar = document.getElementById("enviar");
    let id = select.value[0]
    enviar.value = id;
  }
</script>
